<style>
 #latable td {
     font-size: 75%;
     padding: 4 !important;
     margin: 4 !important;
 }

 #latable th {
     font-size: 85%;
 }

 .card-view .title {
     font-weight: bold;
     display: inline-block;
     min-width: 30%;
     text-align: left !important;
 }

 #latable tbody {
     display:block;
     height: calc(100vh - 25em);
     overflow-y:scroll;
 }
 #latable thead,#latable tbody tr {
     display:table;
     width:100%;
     table-layout:fixed;
 }
 #latable thead {
     width: calc( 100% - 0.65em );
 }
</style>
<body>
  <div class="panel shadow" >
    <div class="panel-body" >
      <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>
	<a href="" class="close" aria-label="close">&times;</a>
	{% trans %}User edited successfully.{% endtrans %}
      </div>

      <div class="alert alert-success" id="delsuccess-alert"  aria-live="rude" role="alert" hidden>
	<a href="" class="close" aria-label="close">&times;</a>
	{% trans %}User deleted successfully.{% endtrans %}
      </div>

      <div class="alert alert-danger" id="duplicate-alert"  aria-live="rude" role="alert" hidden>
	{% trans %}User already exists!{% endtrans %}
      </div>

      <div class="alert alert-success" id="connectionfailed-alert" hidden>
	{% trans %}Connection Failed.{% endtrans %}
      </div>

      <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>
	<a href="" class="close" aria-label="close">&times;</a>
	{% trans %} User could not be edited.{% endtrans %}
      </div>
      <div class="alert alert-danger" id="curpass-blank-alert" aria-live="rude" role="alert" hidden>

	{% trans %}Please enter current password!{% endtrans %}
      </div>
      <div class="alert alert-danger" id="curpass-not-valid" aria-live="rude" role="alert" hidden>
	{% trans %}Please enter valid current password!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="password-blank-alert"  aria-live="rude" role="alert" hidden>
	{% trans %}Please enter new password!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="cnfpass-blank-alert"  aria-live="rude" role="alert" hidden>
	{% trans %}Please re-enter password!{% endtrans %}
      </div>
      <div class="alert alert-danger" id="checkpassuser-blank-alert"  aria-live="rude" role="alert" hidden>
	{% trans %}Password doesn't match!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="confpassword-blank-alert"  aria-live="rude" role="alert" hidden>
	{% trans %}Confirm password is blank!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="bothpass-blank-alert"  aria-live="rude" role="alert" hidden>
	{% trans %}Confirm password and new password are blank!{% endtrans %}
      </div>
      
      <div class="alert alert-danger" id="blank-alert"  aria-live="rude" role="alert" hidden>
	{% trans %}Please enter User name!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="secque-blank-alert"  aria-live="rude" role="alert" hidden>
	{% trans %}Please enter security question!{% endtrans %}
      </div>

      <div class="alert alert-danger" id="secans-blank-alert"  aria-live="rude" role="alert" hidden>
	{% trans %}Please enter the answer of security question!{% endtrans %}
      </div>

      <div class="alert alert-danger"  id="select-godowns-alert"  aria-live="rude" role="alert" hidden>
	{% trans %}Please Select Godowns!{% endtrans %}
      </div>
            
      <div class="row">
	<div class="col-md-2" id="selectuserform">
	  <label for="selectuser">{% trans %}Select Role{% endtrans %} :</label>
	  <div class="radio">
	    <label><input type="radio" class="iib" name="iib" id="all" aria-label="" value="" checked>&nbsp {% trans %}All Users{% endtrans %}.</label>
	  </div>
	  <div class="radio">
	    <label><input type="radio" class="iib" name="iib" id="managerradio" aria-label="" value="0" >&nbsp {% trans %}Manager{% endtrans %}.</label>
          </div>
	  <div class="radio">
            <label><input type="radio" class="iib" name="iib" id="operatorradio" aria-label="" value="1">&nbsp {% trans %}Operator{% endtrans %}.</label>
          </div>
	  <div class="radio">
            <label><input type="radio" class="iib" name="iib" id="auditorradio" aria-label="" value="2">&nbsp {% trans %}Internal Auditor{% endtrans %}.</label>
          </div>
	  <div class="radio">
            <label><input type="radio" class="iib" name="iib" id="Inchargeradio" aria-label="" value="3">&nbsp {% trans %}Godown In Charge{% endtrans %}.</label>
          </div>	  
	</div>

	<div class="col-md-10">
	  <div class="row">
	    <div class="col-md-6">
	    <div class="form-group">
	      <label for="edituser">{% trans %}List of Users{% endtrans %} :</label>
	      <select class = "form-control input-sm" id="edituser">
		<option value="" disabled selected hidden>{% trans %}Select User{% endtrans %}</option>
		{% for user in gkresult %}
		  <option role="{{user["userrolename"]}}" username="{{user["username"]}}" value="{{user['userid']}}">{{user["username"]}} ({{user["userrolename"]}})</option>
                {% endfor %}
	      </select>
	      <small id="txtareahelp" class="form-text text-muted">{% trans %}Press "Shift+Tab" keys from List of Users to shift focus to All Users. {% endtrans %}</small>
	      <div class="manager alluser bg-danger col-xs-12" hidden>
		<label class="text-danger">No Manager found!</label>
	      </div>
	      <div class="operator alluser bg-danger col-xs-12" hidden>
		<label class="text-danger">No Operator found!</label>
	      </div>
	      <div class="intauditor alluser bg-danger col-xs-12" hidden>
		<label class="text-danger">No Internal Auditor found!</label>
	      </div>
	      <div class="goincharge alluser bg-danger col-xs-12" hidden>
		<label class="text-danger">No Godown Incharge found!</label>
	      </div>
	    </div>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-md-6 edituserform" hidden>

	      <div class="form-group">
		<label for="editname">{% trans %}New Na<u>m</u>e of User{% endtrans %} :</label></label>
	  <input type="text" id="editname" name="editname" class="form-control input-sm" accesskey="m"></input>
	      </div>
	      {#This div (i.e user_pass) is for when user other than Admin#}
	      <div id="user_pass">
	      <div class="form-group">
		<label for="editpwd" id="editpwd">{% trans %}New Pass<u>w</u>ord{% endtrans %} :</label>
		<input style="border-radius: 4px" name="editpwd" id="password" type="password" class="form-control input-sm" accesskey="w"></input>
	      </div>
	      
	      <div class="form-group">
		<label for="confirmpwd" id="confirmpwd">{% trans %}C<u>o</u>nfirm New Password{% endtrans %} :</label>
		<input name="confirmpwd" style="border-radius: 4px" type="password" id="passwordconfirm" class="form-control input-sm" accesskey="o"></input>
	      </div>
	      </div>

	      {#This div (i.e Pass_link) is for user "Admin" #}
	      <div class="form-group" id="pass_link" hidden>
		<a id="smalllink" href="#"> Change Password <span class="glyphicon glyphicon-triangle-bottom"></span></a>
	      </div>
	      
	      <div class="collapse" id="moresmall">
	      <div class="form-group" id="curpassdiv">
		<label for="currentpassword" id="currentPassword">{% trans %}C<u>u</u>rrent Password{% endtrans %} :</label>
		<input type="password" id="current_password" class="form-control input-sm" name="currentpassWord" style="border-radius:4px" accesskey="u"></input>
	      </div>
	      
	      <div class="form-group">
		<label for="editpwd" id="editpwd_admin">{% trans %}<u>N</u>ew Password{% endtrans %} :</label>
		<input style="border-radius: 4px" name="editpwd" id="pass_admin" type="password" class="form-control input-sm" accesskey="n"></input>
	      </div>
	      
	      <div class="form-group">
		<label for="confirmpwd" id="confirmpwd_admin">{% trans %}Confirm New Passwor<u>d</u>{% endtrans %} :</label>
		<input name="confirmpwd" style="border-radius: 4px" type="password" id="passconfirm_admin" class="form-control input-sm" accesskey="d"></input>
	      </div>
	      </div>
              
	      <div class="alert alert-danger" id="role-blank-alert"  aria-live="rude" role="alert" hidden>
		{% trans %}Please select role!{% endtrans %}
              </div>

	      <div class="form-group" id="userrolediv">
		<label for="editrole" id="editrole">{% trans %}Select Ro<u>l</u>e{% endtrans %} :</label>
		<select name="editrole" style="border-radius: 4px" id="userrole" type="text" class="form-control input-sm" accesskey="l">
		  <option value="" disabled selected hidden>{% trans %}Select a role{% endtrans %}</option>
		  <option value="0">{% trans %}Manager{% endtrans %}</option>
		  <option value="1">{% trans %}Operator{% endtrans %}</option>
		  <option value="2">{% trans %}Internal Auditor{% endtrans %}</option>
		  <option value="3">{% trans %}Godown In Charge{% endtrans %}</option>
		</select>
	      </div>

	      <div class="form-group">
		<label for="editsecquest" id="editsecquest">{% trans %}Security <u>Q</u>uestion{% endtrans %} :</label>
		<input name="editsecquest" style="border-radius: 4px" type="text" class="form-control input-sm" placeholder="Security Question" id="question" accesskey="q"></input>
	      </div>
	      
	      <div class="form-group">
		<label for="editsecans" id="editsecans">{% trans %}<u>S</u>ecurity Answer{% endtrans %} :</label>
		<input name="editsecans" style="border-radius: 4px" type="text" class="form-control input-sm" placeholder="Security Answer" id="answer" accesskey="s"></input>
	      </div>
	      <div id="m_confirmdel" class="modal fade" tabindex="-1" role="dialog">
		<div class="vertical-alignment-helper">
		  <div class="modal-dialog modal-sm vertical-align-center">
		    <div class="modal-content">
		      <div class="modal-header">
			 
			<h4 class="modal-title">{% trans %}Delete?{% endtrans %} <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button></h4> 
		      </div>
		      <div class="modal-body">
			<p>{% trans %}Are you sure?{% endtrans %}</p>
		      </div>

		      <div class="modal-footer">
			<button type="button" id ="m_cancel" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> {% trans %}No{% endtrans %}</button>
			<button type="button" id="usrdel" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-check" aria-hidden="true"></i> {% trans %}Yes{% endtrans %}</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div>
	      </div><!-- /.modal -->
	    </div>

	    <div class="col-md-6" id="usertable"></div>{#List of godowns table#}

	  </div>
	</div>{# 2nd row (10) #}
      </div> {# 1st row (12) #}
    </div> {#panel-body#}

    <div id="form-footer" class="panel-footer" hidden>
      <div class="container-fluid">
	<button type="submit" class="btn btn-success btn-sm" id="edusrsubmit" name="submit" accesskey="a"><i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans %}S<u>a</u>ve{% endtrans %}</button>
	<button id="edit" class="btn btn-primary btn-sm" accesskey="e"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans %}<u>E</u>dit{% endtrans %}</button>	
	<button id="delete" class="btn btn-danger btn-sm" accesskey="d"><i class="fa fa-trash-o" aria-hidden="true"></i> {% trans %}<u>D</u>elete{% endtrans %}</button>
	<button id="reset" class="btn btn-warning btn-sm" accesskey="t"><i class="fa fa-refresh" aria-hidden="true"></i> {% trans %}Rese<u>t</u>{% endtrans %}</button>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/edituser.js')}}"></script>
</body>

